@font-face {
  font-family: "Montserrat-Medium";
  src: url("fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("fonts/OpenSans-SemiBold.ttf");
}
/*Font Vars*/
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-image: url(../img/lk/bg/bg_lk.jpg);
  background-size: cover;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  height: 100vh;
  display: grid;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
}
#sidebar ul.components {
  padding: 20px 0;
  display: grid;
  justify-content: center;
  align-items: center;
}
#sidebar ul p {
  color: #000;
  padding: 10px;
}
#sidebar ul li {
  padding-left: 2em;
  padding-right: 2em;
}
#sidebar ul li a {
  display: flex;
  align-items: center;
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 10px;
  color: #000;
}
#sidebar ul li a svg {
  fill: #000;
}
#sidebar ul li a > span {
  margin-left: 20px;
}
#sidebar ul li a:hover {
  color: #000;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 6px;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #FFFFFF;
  background: #2D9CDB;
  border-radius: 6px;
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
#sidebar ul li.active > a svg,
a[aria-expanded="true"] svg {
  fill: #fff;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
ul.CTAs {
  padding: 20px;
  display: grid;
}
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386D5;
}
a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
.mdd-engine p {
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding: 0 !important;
  margin-top: 4.5px;
}
.socbox {
  margin-top: 33px;
}
.socbox-icons {
  margin-top: 22px;
  display: flex;
  justify-content: space-evenly;
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
/* ---------------------------------------------------
    Биллинг
----------------------------------------------------- */
.lk-welcome {
  margin-bottom: 75px;
}
.lk-welcome-block {
  margin-top: 25px;
  background-image: url(../img/lk/bg/bg_index.jpg);
  background-size: cover;
  border-radius: 12px;
  padding: 32px 0 40px 22px;
  filter: drop-shadow(0px 25px 64px rgba(0, 0, 0, 0.1));
  text-align: left;
}
.lk-welcome-block span {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.lk-block-title {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.lk-block-title span {
  margin-left: 21.1px;
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.lk-monbox {
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 15px 64px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 17px 40px 30px 17px;
}
.lk-block-news {
  margin-bottom: 20px;
}
.lk-block-news .news-date {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #767676;
  margin-bottom: 10px;
}
.lk-block-news .news-name {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 15px;
}
.lk-block-news .news-desc {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.lk-block-insruct {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(70.89deg, rgba(45, 156, 219, 0.8) 0%, rgba(46, 193, 108, 0.8) 100%), url(../img/lk/bg/bg_insruct.jpg);
  background-size: cover;
  width: 241px;
  height: 141.86px;
  border-radius: 6.57273px;
  margin-left: 4.5em;
  /*Кастыль*/
  margin-bottom: 30px;
}
.lk-advan ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}
.lk-advan ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.lk-advan ul li span {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.lk-advan ul li img {
  margin-right: 14px;
}
/* ---------------------------------------------------
    Личный Кабинет
----------------------------------------------------- */
.lk-header {
  margin-top: 80px;
}
.lk-header-block {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 25px 64px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(48px);
  border-radius: 16px;
}
.lk-header-block ul {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.lk-header-block ul li.active svg rect {
  cursor: pointer;
  shape-rendering: crispEdges;
  fill: url(#paint0_linear);
  stroke: transparent;
}
.lk-header-block ul li.active svg path {
  fill: #FFFFFF;
}
.lk-header-block ul li a > svg > rect {
  cursor: pointer;
  shape-rendering: crispEdges;
  stroke: #dddddd;
  stroke-width: 2;
  fill: transparent;
}
.lk-header-block ul li a > svg > path {
  fill: #878787;
}
.lk-header-block ul li a:hover > svg > rect {
  cursor: pointer;
  shape-rendering: crispEdges;
  fill: url(#paint0_linear);
  stroke: transparent;
}
.lk-header-block ul li a:hover > svg > path {
  fill: #FFFFFF;
}
.lk-profile-block {
  display: grid;
  margin-top: 55px;
}
.lk-profile-icon {
  display: grid;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.lk-profile-icon img {
  filter: drop-shadow(0px 25px 48px rgba(0, 0, 0, 0.25));
}
.lk-profile-nickname {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.lk-profile-type {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #767676;
  margin-bottom: 26px;
}
.lk-profile-shoulder ul {
  padding: 0;
  list-style: none;
}
.lk-profile-shoulder ul span,
.lk-profile-shoulder ul p {
  margin-top: 18px;
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.lk-profile-shoulder ul span span,
.lk-profile-shoulder ul p span {
  margin-left: 20px;
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}
.lk-profile-shoulder ul li span {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  margin-left: 9px;
}
.lk-profile-info ul {
  padding: 0;
  list-style: none;
}
.lk-profile-info ul li {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 14px;
}
.lk-profile-info ul li span {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  margin-left: 20px;
}
